name: Run e2e Tests

on: [pull_request]



jobs:
  run-unit-tests:
    name: Run e2e Test
    runs-on: ubuntu-latest
    
    services: 
      postgres:
        image: bitnami/postgresql
        ports:
          - 5432:5432
        env:
          POSTGRESQL_USERNAME: docker
          POSTGRESQL_PASSWORD: docker
          POSTGRESQL_DATABASE: apisolid

    steps:
      - name: Sleep for 30 seconds
        run: sleep 30s
        shell: bash
        
      - uses: actions/checkout@v47
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - run: npm ci
      - run: npm run test:e2e
        env:
          JWT_SECRET: testing
          DATABASE_URL: "postgresql://docker:docker@localhost:5432/apisolid?schema=public"
